<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.pretrialclassification.dao.FenleiBaohuUpdateipcMapper">
    <update id="updateByIdAndWorker">
        update FENLEI_BAOHU_UPDATEIPC set state = #{state} where id = #{id} and worker = #{worker}
    </update>

    <select id="selectFenleiBaohuUpdateIpcPage"
            resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuUpdateipcExt">
        select u.id as id,
           u.worker as worker,
           (to_date(u.uploadtime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as uploadtime,
           u.ipcmi as ipcmi,
           u.ipcoi as ipcoi,
           u.ipca as ipca,
           u.cci as cci,
           u.cca as cca,
           u.csets as csets,
           u.oldipcmi as oldIpcmi,
           u.oldipcoi as oldIpcoi,
           u.oldipca as oldIpca,
           u.oldcci as oldCci,
           u.oldcca as oldCca,
           u.oldcsets as oldCsets,
           m.pdf_path as pdfPath
      from FENLEI_BAOHU_UPDATEIPC u , fenlei_baohu_main m
      where
          u.state = #{state}
        and
          m.id = u.id
      order by uploadtime
    </select>
</mapper>
