<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.pretrialclassification.dao.FenleiBaohuAdjudicationMapper">

    <select id="getArbiterInitList" resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuAdjudicationExt">
        select
          distinct ad.id as id ,
          userinfo.workername as  processingPerson,
          ad.PROCESSINGREASONS as processingreasons,
          ad.RUKUTIME as rukuTime,
          ad.FINISHTIME as finishTime,
          ad.ADJUDICATOR as adjudicator,
          m.mingcheng as mingcheng,
          m.sqh as sqh,
          m.type as type,
          ad.state as state,
          (to_date(m.JINANTIME,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as jinantime,
          m.pdf_path as path
        from
          FENLEI_BAOHU_ADJUDICATION ad, FENLEI_BAOHU_MAIN m, FENLEI_BAOHU_USERINFO userinfo
        where
            m.id = ad.id
          and
            userinfo.loginname = ad.processingperson
          and
            ad.PROCESSINGPERSON = #{username}
    </select>

    <select id="getArbiterPersonInitList" resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuAdjudicationExt">
        select
          distinct ad.id as id ,
          userinfo.workername as  processingPerson,
          ad.PROCESSINGREASONS as processingreasons,
          ad.RUKUTIME as rukuTime,
          ad.FINISHTIME as finishTime,
          ad.ADJUDICATOR as adjudicator,
          m.mingcheng as mingcheng,
          m.sqh as sqh,
          m.type as type,
          ad.state as state,
          (to_date(m.JINANTIME,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as jinantime,
          m.pdf_path as path
        from
          FENLEI_BAOHU_ADJUDICATION ad, FENLEI_BAOHU_MAIN m, fenlei_baohu_userinfo userinfo
        where
            m.id = ad.id
          and
            userinfo.loginname = ad.processingperson
          and
            ad.state = '7'
          and
            ad.ADJUDICATOR like  '%'||#{username}||'%'
    </select>
    <select id="selectAdjudicatorWorker" resultType="java.lang.String">
        select ADJUDICATOR from FENLEI_BAOHU_ADJUDICATION where id = #{id}
    </select>


    <update id="saveAribiterClassfication" parameterType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuAdjudicationExt">
        update FENLEI_BAOHU_ADJUDICATION
        <set>
            <if test="ext.ipca != null">
                ipca = #{ext.ipca},
            </if>
            <if test="ext.ipcmi != null">
                IPCMI = #{ext.ipcmi},
            </if>
            <if test="ext.ipcoi != null">
                IPCOI = #{ext.ipcoi},
            </if>
            <if test="ext.cci != null">
                CCI = #{ext.cci},
            </if>
            <if test="ext.cca != null">
                CCA = #{ext.cca},
            </if>
            <if test="ext.csets != null">
                CSETS = #{ext.csets},
            </if>
        </set>

        where
           id = #{ext.id}
          and
            state = #{state}
          and
           PROCESSINGPERSON = #{username}
    </update>
    <update id="updateAdjudicatorById">
        <if test="list.size == 0">
            update FENLEI_BAOHU_ADJUDICATION
            set adjudicator = '' where id = #{id}
        </if>
        <if test="list.size != 0">
            update FENLEI_BAOHU_ADJUDICATION
            set adjudicator =
            replace(replace(replace(
            <foreach collection="list" open="'" close="'" item="item" separator=",">
                ${item.person}
            </foreach>
            ,chr(13),''),chr(10),''),' '  ,'')
            where id = #{id}
        </if>
    </update>
    <update id="updateCaseStateAndFinishTime">
        update FENLEI_BAOHU_ADJUDICATION set state = #{state}, FINISHTIME = #{finishTime} where id = #{id} and PROCESSINGPERSON = #{loginame} AND STATE = '7'
    </update>
    <!--<update id="updateAdjudicatorById">
        update FENLEI_BAOHU_ADJUDICATION
        set adjudicator = #{adjudicator}
        where id = #{id}
    </update>-->

</mapper>