<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.pretrialclassification.dao.FenleiBaohuResultMapper">


    <select id="AfterDeploymentSendEmail" resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuResultExt">
         select
              substr(r.worker,1,6) as fldm,
              substr(r.worker,8) as worker,
              u.dep1,
              u.dep2,
              u.orgname,
              r.id,
              m.mingcheng,
              u.email,
              r.worker as fldmworker,
              m.simpleclasscode,
              m.jinantime,
              r.fenpeitime
             from fenlei_baohu_result r
             left join fenlei_baohu_main m
             on r.id = m.id
             left join fenlei_baohu_userinfo u
             on substr(r.worker,1,6) = u.loginname
             where r.fenpeiren = '进案' and r.id in
             <foreach collection="array" open="(" close=")" separator="," item="item">
                 #{item}
             </foreach>

            order by fldm asc
    </select>

    <select id="selectCaseOut" resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuResultExt" >
        select t.worker,
                t.classtype,
                (select concat(u.dep1, u.dep2)  from FENLEI_BAOHU_USERINFO u   where u.workername = t.worker) as orgname,
                sum(decode(a.type, 'FM', 1, 0)) fmCount,
                sum(decode(a.type, 'XX', 1, 0)) xxCount,
                count(distinct t.id) totalCount
        from fenlei_baohu_main a, fenlei_baohu_result t
        where  a.id = t.id
        <if test="begintime!=''and endtime!=''">
            AND t.chuantime between #{begintime} and #{endtime}
        </if>
        <if test="type!='' ">
            AND t.classtype=#{type}
        </if>
        group by t.worker, t.classtype order by worker asc,classtype desc
    </select>

    <select id="findClassInfoByID" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuResult">
        select r.id,r.worker,r.classtype,r.fenpeiren,r.state,r.cci,r.cca,r.csets,r.ipca,r.ipci,
        (to_date(fenpeitime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as fenpeitime,
        (to_date(chuantime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as chuantime
        from fenlei_baohu_result r
        where r.id=#{id}
    </select>

    <select id="selectCaseByState" resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuMainResultExt">
        select r.id,r.worker,r.classtype,r.fenpeiren,r.state,r.cci,r.cca,r.csets,r.ipci,r.ipca,
        m.mingcheng,m.type,m.sqr,m.simpleclasscode,
        (to_date(r.fenpeitime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as jinantime,
        (to_date(r.chuantime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as chuantime
        from fenlei_baohu_result r,fenlei_baohu_main m
        where r.worker=#{user} and r.id=m.id
        <if test="state!='' and classtype!=''">
            AND r.state = #{state} and r.classtype = #{classtype}
        </if>
        <if test="state == '' and classtype!=''">
            AND r.state != '2' and r.classtype = #{classtype}
        </if>
        <if test="state!='' and classtype == ''">
            AND r.state = #{state}
        </if>
    </select>

</mapper>
