<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.pretrialclassification.dao.FenleiBaohuResultMapper">


    <select id="AfterDeploymentSendEmail" resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuResultExt">
         select
              substr(r.worker,1,6) as fldm,
              substr(r.worker,8) as worker,
              u.dep1,
              u.dep2,
              u.orgname,
              r.id,
              m.mingcheng,
              u.email,
              r.worker as fldmworker,
              m.simpleclasscode,
              m.jinantime,
              r.fenpeitime
             from fenlei_baohu_result r
             left join fenlei_baohu_main m
             on r.id = m.id
             left join fenlei_baohu_userinfo u
             on substr(r.worker,1,6) = u.loginname
             where r.fenpeiren = '进案' and r.id in
             <foreach collection="array" open="(" close=")" separator="," item="item">
                 #{item}
             </foreach>

            order by fldm asc
    </select>

    <select id="selectCaseOut" resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuResultExt" >
        select t.worker,
                substr(t.worker,1,instr(t.worker,'-',1)-1) fldm,
                substr(t.worker,instr(t.worker,'-',1)+1) workerName,
                (select concat(u.dep1, u.dep2) from FENLEI_BAOHU_USERINFO u where u.workername = t.worker) as dep1,
                (select u.areaname from FENLEI_BAOHU_USERINFO u where u.workername = t.worker) as areaName,
                sum(decode(a.type,'FM',decode(t.classtype, '主',decode(coalesce(t.ipci, t.ipca, t.ipcmi,t.ipcoi, t.cci,t.cca,t.csets), NULL, 0, 1), 0), 0)) fmzfNumCount,
                sum(decode(a.type,'FM',decode(t.classtype, '副',decode(coalesce(t.ipci, t.ipca, t.ipcmi,t.ipcoi, t.cci,t.cca,t.csets), NULL, 0, 1), 0), 0)) fmffNumCount,
                sum(decode(a.type,'FM',decode(coalesce(t.ipci, t.ipca, t.ipcmi,t.ipcoi, t.cci,t.cca,t.csets), NULL, 1, 0), 0)) fmNoNumCount,
                sum(decode(a.type,'XX',decode(t.classtype, '主',decode(coalesce(t.ipci, t.ipca, t.ipcmi,t.ipcoi, t.cci,t.cca,t.csets), NULL, 0, 1), 0), 0)) xxzfNumCount,
                sum(decode(a.type,'XX',decode(t.classtype, '副',decode(coalesce(t.ipci, t.ipca, t.ipcmi,t.ipcoi, t.cci,t.cca,t.csets), NULL, 0, 1), 0), 0)) xxffNumCount,
                sum(decode(a.type,'XX',decode(coalesce(t.ipci, t.ipca, t.ipcmi,t.ipcoi, t.cci,t.cca,t.csets), NULL, 1, 0), 0)) xxNoNumCount,
                (select count(distinct id) from FENLEI_BAOHU_ADJUDICATION ad  where ad.processingperson = t.worker) cjNum,
                (select count(distinct id) from FENLEI_BAOHU_ADJUDICATION ad where (ad.adjudicator like '%' || t.worker || '%')) cjyNum

        from fenlei_baohu_main a, fenlei_baohu_result t
        where a.id = t.id
        <if test="begintime!=''and endtime!=''">
            AND t.chuantime between #{begintime} and #{endtime}
        </if>
        <if test="type!='' ">
            AND t.classtype=#{type}
        </if>
        <if test="userName!='' ">
            AND  substr(t.worker,instr(t.worker,'-')+1)=#{userName}
        </if>
        <if test="dept!='' ">
            AND  t.worker in (select workername from FENLEI_BAOHU_USERINFO where orgname =#{dept})
        </if>
        group by t.worker
    </select>

    <select id="findClassInfoByID" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuResult">
        select r.id,r.worker,r.classtype,r.fenpeiren,r.state,r.cci,r.cca,r.csets,r.ipca,r.ipci,
        (to_date(fenpeitime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as fenpeitime,
        (to_date(chuantime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as chuantime
        from fenlei_baohu_result r
        where r.id=#{id}
    </select>

    <select id="selectListByID" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuResult">
        select r.id,r.worker,r.classtype,r.fenpeiren,r.state,r.cci,r.cca,r.csets,r.ipca,r.ipci,r.ipcmi,r.ipcoi,r.message,
        (to_date(r.fenpeitime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as fenpeitime,
        (to_date(r.chuantime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as chuantime
        from fenlei_baohu_result r
        where r.id=#{id}
    </select>


    <select id="selectCaseByState" resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuMainResultExt">
        select r.id,r.worker,r.classtype as maintype,r.fenpeiren,r.state,r.cci,r.cca,r.csets,r.ipci,r.ipca,r.ipcmi,r.ipcoi,
        m.mingcheng,m.type,m.sqr,m.simpleclasscode,m.pdf_path,
        (to_date(r.fenpeitime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as jinantime,
        (to_date(r.chuantime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as chuantime
        from fenlei_baohu_result r,fenlei_baohu_main m
        where r.worker like concat('%',#{user}) and r.id=m.id
        <if test="state!='' and classtype!=''">
            AND r.state = #{state} and r.classtype = #{classtype}
        </if>
        <if test="state == '' and classtype!=''">
            AND r.state != '2' and r.classtype = #{classtype}
        </if>
        <if test="state!='' and classtype == ''">
            AND r.state = #{state}
        </if>
        <if test="begintime!=''and endtime!=''">
            AND r.chuantime between #{begintime} and #{endtime}
        </if>
    </select>

    <select id="selectCaseInfo" resultType="java.util.Map">
        select r.id,r.worker,r.classtype,r.ipci,r.cci,r.cca,r.csets,r.state,
        m.type
        from fenlei_baohu_main m,fenlei_baohu_result r
        where m.id=r.id and r.worker like concat('%',#{worker}) and r.id=#{id}
    </select>

    <select id="selectCaseStateCount" resultType="java.lang.Integer">
        select count(1) from fenlei_baohu_result where id=#{id} and state &lt; 2
    </select>

    <select id="getTransWorkerList" resultType="java.lang.String">
        select r.worker from fenlei_baohu_result r where r.id=#{id}
    </select>

    <select id="getCaseUnFinish" resultType="java.lang.String">
        select r.worker from fenlei_baohu_result r where
        r.state in ('0','1','9')
        and r.id=#{id}
    </select>

    <select id="getMyFinish" resultType="java.lang.String">
        select state from fenlei_baohu_result where id=#{id} and worker=#{worker}
    </select>

    <select id="getIPCMI" resultType="java.lang.String">
        select r.ipcmi from fenlei_baohu_result r where r.id=#{id} and r.ipcmi is not null
    </select>

    <select id="getIPCOI" resultType="java.lang.String">
        select r.ipcoi from fenlei_baohu_result r where r.id=#{id} and r.ipcoi is not null order by  r.ipcmi,r.worker
    </select>

    <select id="getIPCA" resultType="java.lang.String">
        select r.ipca from fenlei_baohu_result r where r.id=#{id} and r.ipca is not null order by  r.ipcmi,r.worker
    </select>

    <select id="getCSETS" resultType="java.lang.String">
        select r.csets from fenlei_baohu_result r where r.id=#{id} and r.csets is not null order by r.ipcmi,r.worker
    </select>

    <select id="getCCI" resultType="java.lang.String">
        select r.cci from fenlei_baohu_result r where r.id=#{id} and r.cci is not null order by  r.ipcmi,r.worker
    </select>

    <select id="getCCA" resultType="java.lang.String">
        select r.cca from fenlei_baohu_result r where r.id=#{id} and r.cca is not null order by  r.ipcmi,r.worker
    </select>
    <select id="selectSimpleClassCodeAndClassificationById"
            resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuResultExt">

        select r.id              as id,
               r.worker          as worker,
               r.ipcmi           as ipcmi,
               r.ipcoi           as ipcoi,
               r.ipca            as ipca,
               r.cci             as cci,
               r.cca             as cca,
               r.csets           as csets,
               m.simpleclasscode as simpleclasscode
         from FENLEI_BAOHU_result r, FENLEI_BAOHU_main m
         where r.id = m.id
            and r.id = #{id}
         order by ipcmi,ipcoi,ipca,cci,cca,csets
    </select>
    <select id="findAll" resultType="com.kfgs.pretrialclassification.domain.EmailIntervalEntity">
          select substr(t.worker, 1, 6) as fldm,
                    substr(t.worker, 8) as worker,
                    t2.dep1,
                   t2.dep2,
                   t2.orgname,
                   t.id,
                   t2.email,
                   t.worker as worker_all,
                   t.fenpeitime,
                   t1.simpleclasscode,
                   t1.mingcheng
              from FENLEI_BAOHU_RESULT t
              left join FENLEI_BAOHU_MAIN t1
                on t.id = t1.id
              left join fenlei_baohu_userinfo t2
                on substr(t.worker, 1, 6) = t2.loginname
             where t.state != '2'
             order by fldm asc
    </select>

    <update id="updateResultRule">
        update fenlei_baohu_result r set r.state=#{state} where r.id=#{id}
    </update>

    <update id="saveClassificationInfo" parameterType="com.kfgs.pretrialclassification.domain.FenleiBaohuResult">
        update fenlei_baohu_result
        <set>
            <choose>
                <when test="ext.ipca != null">
                    ipca = #{ext.ipca},
                </when>
                <otherwise>
                    ipca = '',
                </otherwise>
            </choose>
            <choose>
                <when test="ext.IPCMI != null">
                    IPCMI = #{ext.IPCMI},
                </when>
                <otherwise>
                    IPCMI = '',
                </otherwise>
            </choose>
            <choose>
                <when test="ext.IPCOI">
                    IPCOI = #{ext.IPCOI},
                </when>
                <otherwise>
                    IPCOI = '',
                </otherwise>
            </choose>
            <choose>
                <when test="ext.cci != null">
                    CCI = #{ext.cci},
                </when>
                <otherwise>
                    CCI = '',
                </otherwise>
            </choose>
            <choose>
                <when test="ext.cca != null">
                    CCA = #{ext.cca},
                </when>
                <otherwise>
                    CCA = '',
                </otherwise>
            </choose>
            <choose>
                <when test="ext.csets != null">
                    CSETS = #{ext.csets},
                </when>
                <otherwise>
                    CSETS = '',
                </otherwise>
            </choose>
            <choose>
                <when test="ext.state != null">
                    state = #{ext.state},
                </when>
                <otherwise>
                    state = '',
                </otherwise>
            </choose>
        </set>
        where
          id = #{ext.id}
        and
          worker = #{worker}
    </update>
    <update id="updateStateByIdAndWorker">
        update fenlei_baohu_result
        <set>
            <if test="state != null">
                state = #{state}
            </if>
        </set>
        where id = #{id} and worker = #{worker}
    </update>
    <update id="updateStateById">
        update fenlei_baohu_result
        <set>
            <if test="state != null">
                state = #{state}
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>
