<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.pretrialclassification.dao.FenleiBaohuUserinfoMapper">

    <resultMap id="BaseResultMap" type="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuUserinfoExt">
        <id column="loginname" property="loginname" jdbcType="VARCHAR"/>
        <id column="password" property="password" jdbcType="VARCHAR"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <id column="orgname" property="orgname" jdbcType="VARCHAR"/>
        <id column="areaname" property="areaname" jdbcType="VARCHAR"/>
        <id column="classlevel" property="classlevel" jdbcType="VARCHAR"/>
        <id column="workername" property="workername" jdbcType="VARCHAR"/>
        <id column="email" property="email" jdbcType="VARCHAR"/>
        <id column="dep1" property="dep1" jdbcType="VARCHAR"/>
        <id column="dep2" property="dep2" jdbcType="VARCHAR"/>
        <id column="type" property="type" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List_Befor" >
        loginname,password,name,ORGNAME,AREANAME,CLASSLEVEL,WORKERNAME,EMAIL,DEP1,DEP2,TYPE
    </sql>

    <sql id="Base_Column_List_After" >
        loginname,password,name,ORGNAME,AREANAME,CLASSLEVEL,WORKERNAME,EMAIL,DEP1,DEP2,TYPE,IPCS,FIELDS,LAST_TIME,LAST_IPC,IS_ONLINE
    </sql>


    <!--关联到用户的权限信息-->
    <resultMap type="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuUserinfoExt" id="UserBaseResultMap" extends="BaseResultMap">
        <collection property="authorities" ofType="com.kfgs.pretrialclassification.domain.FenleiBaohuRole">
            <result column="rolename" property="rolename"/>
        </collection>
    </resultMap>


    <select id="findAreaName" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuUserinfo">
        select areaname,wm_concat(workername || '[' ||classlevel || ']' || '-' || decode(orgname,'FL','分类','JG','加工','')) as workername
          from fenlei_baohu_userinfo
        where areaname is not null and classlevel is not null and classlevel != 'C'
        group by areaname
        order by areaname
    </select>

    <select id="getUserinfoByLoginName"
            resultMap="UserBaseResultMap" parameterType="java.lang.String">
        select u.loginname,u.password,u.name,u.ORGNAME,u.AREANAME,u.CLASSLEVEL,u.WORKERNAME,u.EMAIL,u.DEP1,u.DEP2,TYPE from fenlei_baohu_userinfo u  where u.loginname = #{loginname}
    </select>

    <select id="getUserinfoByLoginNameWithRole"
            resultMap="UserBaseResultMap" parameterType="java.lang.String">
        select u.loginname,u.password,u.name,u.ORGNAME,u.AREANAME,u.CLASSLEVEL,u.WORKERNAME,u.EMAIL,u.DEP1,u.DEP2,u.TYPE ,r.rolename as rolename from fenlei_baohu_userinfo u,FENLEI_BAOHU_ROLE r where u.type = r.id AND u.loginname = #{loginname}
    </select>
    <select id="getUserList" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuUserinfo">
        select loginname,name,dep1,dep2,type from fenlei_baohu_userinfo
        <where>
            <if test="dep1 != null">
                and dep1 = #{dep1}
            </if>
            <if test="dep2 != null">
                and dep2 = #{dep2}
            </if>
            <if test="isOnline != null">
                and is_online = #{isOnline}
            </if>
        </where>
    </select>


    <insert id="insertEntity" parameterType="com.kfgs.pretrialclassification.domain.FenleiBaohuUserinfo">
        INSERT INTO FENLEI_BAOHU_USERINFO  (
          LOGINNAME, PASSWORD, NAME, ORGNAME, AREANAME, CLASSLEVEL, WORKERNAME, EMAIL, DEP1, DEP2, TYPE, IPCS, FIELDS,   IS_ONLINE )
        VALUES  (
          #{loginname},#{password},#{name},#{orgname},#{areaname},#{classlevel},#{workername},#{email},#{dep1},#{dep2},#{type},#{ipcs},#{fields},#{isOnline}
         )
    </insert>

    <select id="selectOneByLoginname" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuUserinfo" >
      select
        <include refid="Base_Column_List_After"/>
       from  FENLEI_BAOHU_USERINFO
       where loginname = #{loginname}
    </select>
    <select id="selectListByDep1AndDep2" resultType="java.lang.String">
        select workername from FENLEI_BAOHU_USERINFO where (dep1 = #{dep1} and dep2 = #{dep2}   and IS_ONLINE = '1' ) OR (dep1 = #{dep1} and dep2 = #{dep2} and classlevel ='C')
    </select>
    <select id="selectListByWorkerName"
            resultType="com.kfgs.pretrialclassification.domain.request.ArbiterParam">
        select dep1 as dep1,dep2 as dep2, workername as person from FENLEI_BAOHU_USERINFO
        where workername in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </select>
    <select id="selectAdjudicatorByWorkerName" resultType="java.lang.String">
        select ADJUDICATOR from fenlei_baohu_userinfo where  workername = #{workerName}
    </select>

    <select id="selectUpdateWorkerName" resultType="java.lang.String">
        select workername from fenlei_baohu_userinfo where  workername like concat('%',#{worker})
    </select>
    <select id="selectEmailByList" resultType="java.lang.String">
        select email from  fenlei_baohu_userinfo where loginname in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>

    </select>

</mapper>
