<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.pretrialclassification.dao.FenleiBaohuMainMapper">

    <sql id="Base_Column_List">
        ID,MINGCHENG,TYPE,SQR,SQH,PDF_PATH,STATE,SIMPLECLASSCODE,CHUANTIME,JINANTIME,MESSAGE,ORAGINIZATION
    </sql>
    
    <resultMap id="BaseResultMap" type="com.kfgs.pretrialclassification.domain.FenleiBaohuMain">
        <id column="ID" jdbcType="VARCHAR" property="id" />
        <result column="MINGCHENG" jdbcType="VARCHAR" property="mingcheng" />
        <result column="TYPE" jdbcType="VARCHAR" property="type" />
        <result column="SQR" jdbcType="VARCHAR" property="sqr" />
        <result column="SQH" jdbcType="VARCHAR" property="sqh" />
        <result column="PDF_PATH" jdbcType="VARCHAR" property="pdfPath" />
        <result column="STATE" jdbcType="VARCHAR" property="state" />
        <result column="SIMPLECLASSCODE" jdbcType="VARCHAR" property="simpleclasscode" />
        <result column="CHUANTIME" jdbcType="VARCHAR" property="chuantime" />
        <result column="JINANTIME" jdbcType="VARCHAR" property="jinantime" />
        <result column="MESSAGE" jdbcType="VARCHAR" property="message" />
        <result column="ORAGINIZATION" jdbcType="VARCHAR" property="oraginization" />
        <result column="CCI" jdbcType="VARCHAR" property="cci" />
        <result column="CCA" jdbcType="VARCHAR" property="cca" />
        <result column="CSETS" jdbcType="VARCHAR" property="csets" />
        <result column="IPCI" jdbcType="VARCHAR" property="ipci" />
        <result column="EXPORT_TIME" jdbcType="VARCHAR" property="exportTime" />
        <result column="MAIN_CLASSIFIERS" jdbcType="VARCHAR" property="mainClassifiers" />
        <result column="VICE_CLASSIFIERS" jdbcType="VARCHAR" property="viceClassifiers" />
        <result column="FUZZY_MATCH_NAME" jdbcType="VARCHAR" property="fuzzyMatchName" />
        <result column="FUZZY_MATCH_RESULT" jdbcType="VARCHAR" property="fuzzyMatchResult" />
    </resultMap>
    <update id="updateIpciCciCcaCsetsById">
        update fenlei_baohu_main
        <set>
            <if test="ipci != null">
                ipci = #{ipci},
            </if>
            <if test="cci != null">
                cci = #{cci},
            </if>
            <if test="cca != null">
                cca = #{cca},
            </if>
            <if test="csets != null">
                csets = #{csets},
            </if>
            <if test="finishTime != null">
                CHUANTIME = #{finishTime},
            </if>
            <if test="state != null">
                STATE = #{state}
            </if>
        </set>
        where
            id = #{id}
    </update>

    <select id="findAll" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuMain">
        select  <include refid="Base_Column_List"/> from  fenlei_baohu_main
    </select>

    <select id="findMainByState" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuMain">
        select m.id,
               mingcheng,
               m.simpleclasscode,
               (to_date(jinantime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as jinantime,
               r.worker as worker,
               (select u.areaname
                  from fenlei_baohu_userinfo u
                 where u.workername = r.worker) as areaname,
               m.type
          from fenlei_baohu_main m,
               (select id,worker from fenlei_baohu_result where classtype = '主') r,
               (select workername from fenlei_baohu_userinfo where is_online = '1'
                <if test="dep1 !=null">
                 and dep1 = #{dep1}
                </if>
                <if test="dep2 !=null">
                    and dep2 = #{dep2}
                </if>
                ) u
         where m.state = #{state}
           and r.id = m.id
           and r.worker = u.workername

    </select>

    <select id="selectCaseIn" resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuMainExt" >
       select oraginization,
           count(1) as totalCount,
           sum(decode(type,'FM',1,'XX',0)) as fmCount,
           sum(decode(type,'FM',0,'XX',1)) as xxCount,
           sum(decode(state,'0',1,0)) as wfpCount,
           sum(decode(state,'1',1,0)) as wccCount,
           sum(decode(state,'2',1,0)) as ywcCount,
           sum(decode(state,'7',1,0)) as cjCount
      from FENLEI_BAOHU_MAIN
        <if test="begintime!=''and endtime!=''">
            where jinantime between #{begintime} and #{endtime}
        </if>
      group by oraginization
    </select>



    <select id="selectByCondition" resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuMainResultExt">
        select m.id,m.mingcheng,m.type,m.sqr,m.sqh,m.pdf_path,m.state,m.simpleclasscode,m.message,m.oraginization,
        m.cci,m.cca,m.csets,m.ipci,m.is_export as export,
        (to_date(jinantime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as jinantime,
        (to_date(chuantime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as chuantime,
        t.mainworker,t.assworker
        from FENLEI_BAOHU_MAIN m
        left join
        (select id,wm_concat(case when ipcmi is not null then worker end) as mainworker,
        wm_concat(case when ipcmi is null then worker end) as assworker
        from fenlei_baohu_result group by id)t on m.id=t.id where 1=1
        <if test="id!=''">
            AND m.id like concat(concat('%',#{id}),'%')
        </if>
        <if test="name!=''">
            AND m.mingcheng like concat(concat('%',#{name}),'%')
        </if>
        <if test="oraginization!=''">
            AND m.oraginization like concat(concat('%',#{oraginization}),'%')
        </if>
        <if test="sqr!=''">
            AND m.sqr like concat(concat('%',#{sqr}),'%')
        </if>
        <if test="sqh!=''">
            AND m.sqh like concat(concat('%',#{sqh}),'%')
        </if>
        <if test="worker!=''">
            AND t.mainworker like concat(concat('%',#{worker}),'%') or t.assworker like concat(concat('%',#{worker}),'%')
        </if>
        <if test='state!="" and state=="1"' >
            AND m.state in ('1','7','9')
        </if>
        <if test='state!="" and state!="1"' >
            AND m.state = #{state}
        </if>
        <if test="begintime!=''and endtime!=''">
            AND m.chuantime between #{begintime} and #{endtime}
        </if>
        <if test="enterBeginTime!=''and enterEndTime!=''">
            AND m.jinantime between #{enterBeginTime} and #{enterEndTime}
        </if>
    </select>

    <select id="searchByVagueCondition" resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuMainResultExt">
        select m.id,m.mingcheng,m.type,m.sqr,m.sqh,m.pdf_path,m.state,m.simpleclasscode,m.message,m.oraginization,
        m.cci,m.cca,m.csets,m.ipci,m.is_export as export,
        (to_date(jinantime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as jinantime,
        (to_date(chuantime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as chuantime,
        t.mainworker,t.assworker
        from FENLEI_BAOHU_MAIN m
        left join
        (select id,wm_concat(case when ipcmi is not null then worker end) as mainworker,
        wm_concat(case when ipcmi is null then worker end) as assworker
        from fenlei_baohu_result group by id)t on m.id=t.id where 1=1
        <if test="id!=''">
            AND m.id like concat(concat('%',#{id}),'%')
        </if>
        <if test="mingcheng!=''">
            AND m.mingcheng like concat(concat('%',#{mingcheng}),'%')
        </if>
        <if test="sqr!=''">
            AND m.sqr like concat(concat('%',#{sqr}),'%')
        </if>
    </select>

    <select id="getCaseID" resultType="java.lang.String">
        select m.id from fenlei_baohu_main m where 1=1
        <if test="sqh!=''">
          AND m.sqh = #{sqh}
        </if>
        <if test="mingcheng!=''">
            AND m.mingcheng = #{mingcheng}
        </if>;
    </select>

    <select id="searchByCondition" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuMain">
        select m.id,m.mingcheng,m.type,m.sqr,m.sqh,m.pdf_path,m.state,m.ipci,m.cci,m.cca,m.csets,m.simpleclasscode,m.message,m.oraginization

         from FENLEI_BAOHU_MAIN m where 1=1
        <if test="id!=''">
            AND m.id = #{id}
        </if>
        <if test="sqr!=''">
            AND m.sqr = #{sqr}
        </if>
        <if test="mingcheng!=''">
            AND m.mingcheng = #{mingcheng}
        </if>
    </select>

    <select id="findDoubleByID" resultType="java.lang.Integer">
        select count(1) from FENLEI_BAOHU_MAIN where 1=1
        <if test="id!=''">
            AND id=#{id}
        </if>
        <if test="oraginization!=''">
            AND oraginization=#{oraginization}
        </if>
    </select>

    <insert id="insertEntity" parameterType="com.kfgs.pretrialclassification.domain.FenleiBaohuMain">
        INSERT INTO FENLEI_BAOHU_MAIN  (
        id,mingcheng,type,sqr,pdf_path,state,oraginization,jinantime
        )
        VALUES  (
        #{id},#{mingcheng},#{type},#{sqr},#{pdfPath},#{state},#{oraginization},to_char(sysdate,'YYYYMMDDHH24MISS')
        )
    </insert>

    <select id="findByState" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuMain">
        select m.id,m.mingcheng,m.type,m.sqr,m.sqh,m.pdf_path pdfPath,m.state,m.simpleclasscode,m.message,m.oraginization,
        (to_date(jinantime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as jinantime,
        (to_date(chuantime,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as chuantime
        from  fenlei_baohu_main m where 1=1
        <if test="state!=''">
            AND m.state = #{state}
        </if>
        ORDER BY jinantime desc
    </select>
    <select id="getType" resultType="java.lang.String">
        select m.type from fenlei_baohu_main m where m.id=#{id}
    </select>
    <select id="countCaseOutWithOrg" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuMain">
      select oraginization,
             count(1) as totalCount,
             sum(decode(type, 'FM', 1, 'XX', 0)) as fmCount,
             sum(decode(type, 'FM', 0, 'XX', 1)) as xxCount
        from FENLEI_BAOHU_MAIN
       where state = '2'
        <if test="begintime!=''and endtime!=''">
            and  chuantime between #{begintime} and #{endtime}
        </if>
       group by oraginization
    </select>

    <select id="getExcelInfo" resultType="java.lang.String">
        select id,mingcheng,type,oraginization,jinantime,ipci,cci,cca,csets from fenlei_baohu_main
    </select>
    <select id="findDataToMapComma" resultMap="BaseResultMap">
        select * from FENLEI_BAOHU_MAIN where (mingcheng is not null and sqr is not null) and (mingcheng is not null) and (sqr is not null)
    </select>
    <select id="selectIdByExactMatchMingChengAndExactMatchSqr" resultType="java.lang.String">
        select id from fenlei_baohu_main where mingcheng = #{mingcheng} and sqr = #{sqr}  and id != #{exclude}
    </select>
    <select id="selectIdByFuzzyMatchMingChengAndExactMatchSqr" resultType="java.lang.String">
        select id from fenlei_baohu_main where fuzzy_match_name = #{mingcheng} and sqr = #{sqr} and id != #{exclude}
    </select>
    <select id="selectIdByExactMatchMingCheng" resultType="java.lang.String">
        select id from fenlei_baohu_main where mingcheng = #{mingcheng} and id != #{exclude}
    </select>
    <select id="selectIdByFuzzyMatchMingCheng" resultType="java.lang.String">
        select id from fenlei_baohu_main where fuzzy_match_name = #{mingcheng} and id != #{exclude}
    </select>
    <select id="selectByExactMatchMingCheng" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuMain">
        select * from fenlei_baohu_main where mingcheng = #{mingcheng} and id != #{id} and sqr is not null
    </select>
    <select id="selectByFuzzyMatchMingCheng" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuMain">
        select * from fenlei_baohu_main where fuzzy_match_name = #{mingcheng} and id != #{id} and sqr is not null
    </select>

    <update id="updateMainRule">
        update fenlei_baohu_main m set m.state=#{state},m.chuantime=#{chuantime} where m.id=#{id}
    </update>
    <update id="updateByIdAndWithOutNotExport">
         update
            fenlei_baohu_main m
         set
            m.ipci = #{ipci},
            m.cci = #{cci},
            m.cca = #{cca},
            m.csets = #{csets}
         where
            m.id=#{id} and m.is_export = '0'
    </update>
    <update id="updateStateById">
        update fenlei_baohu_main
        set
            state = #{state}
        where
            id = #{id}
    </update>
    <update id="updateFuzzyColumnNull">
        update fenlei_baohu_main
        set
            FUZZY_MATCH_NAME = '' , FUZZY_MATCH_RESULT = ''
    </update>
    <update id="updateFuzzyNameColumn">
        update fenlei_baohu_main set fuzzy_match_name = substr(replace(mingcheng,'一种',''),0,8)
    </update>
    <update id="updateSqrComma">
        update fenlei_baohu_main set sqr = replace(sqr,'，',',') where sqr like '%，%'
    </update>
    <update id="updateSqrSemicolonCN">
        update fenlei_baohu_main set sqr = replace(sqr,'；',',') where sqr like '%；%'
    </update>
    <update id="updateSqrSemicolonEN">
         update fenlei_baohu_main set sqr = replace(sqr,';',',') where sqr like '%;%'
    </update>
    <update id="updateFuzzyResultById">
        update fenlei_baohu_main set FUZZY_MATCH_RESULT = #{result} where id = #{id}
    </update>

</mapper>
