<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.pretrialclassification.dao.FenleiBaohuMainMapper">

    <select id="findAll" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuMain">
        select  * from  fenlei_baohu_main
    </select>

    <select id="findMainByState" resultType="com.kfgs.pretrialclassification.domain.FenleiBaohuMain">
        select m.id,
               mingcheng,
               simpleclasscode,
               jinantime,
               r.worker as worker,
               (select u.areaname
                  from fenlei_baohu_userinfo u
                 where u.workername = r.worker) as areaname
          from fenlei_baohu_main m,
               (select * from fenlei_baohu_result where classtype = '主') r
         where m.state = '1'
           and r.id = m.id
    </select>
</mapper>
