<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kfgs.pretrialclassification.dao.FenleiBaohuAdjudicationMapper">

    <select id="getArbiterInitList" resultType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuAdjudicationExt">
        select
          distinct ad.id as id ,
          ad.PROCESSINGPERSON as  processingPerson,
          ad.PROCESSINGREASONS as processingreasons,
          ad.RUKUTIME as rukuTime,
          ad.FINISHTIME as finishTime,
          ad.ADJUDICATOR as adjudicator,
          m.mingcheng as mingcheng,
          m.sqh as sqh,
          (to_date(m.JINANTIME,'yyyymmddhh24miss') - to_date('1970-01-01 08:00:00','yyyy-mm-dd hh24:mi:ss'))*86400000 as jinantime

        from
          FENLEI_BAOHU_ADJUDICATION ad, FENLEI_BAOHU_MAIN m
        where
            m.id = ad.id
          and
            (ad.PROCESSINGPERSON = #{username} or ad.ADJUDICATOR in( #{username} ))
          and
            ad.state = '7'
    </select>


    <insert id="saveAribiterClassfication" parameterType="com.kfgs.pretrialclassification.domain.ext.FenleiBaohuAdjudicationExt">
        update FENLEI_BAOHU_ADJUDICATION
        set
          IPCA = #{ext.ipca},IPCMI = #{ext.ipcmi},IPCOI = #{ext.ipcoi},
          CCI = #{ext.cci},CCA = #{ext.cca}, CSETS = #{ext.csets}
        where
           id = #{ext.id}
          and
           PROCESSINGPERSON = #{username}
    </insert>
</mapper>